BASEROW_DATABASE_ID=ID
BASEROW_API_TOKEN=TOKEN
BREVO_API_KEY=API_KEY
SHARED_SECRETS=CONTACTME_FOR_OBTAINING_THIS_SECRET
PROXY_BASEROW_URL=http://localhost:8787/baserow
PROXY_BREVO_URL=http://localhost:8787/brevo
